.employee-registration-form{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 25, 25, 0.5);
}

.employee-registration-form-container{
    width: 25%;
    background-color: white;
    padding: 30px;
    border-radius: 0.23rem;
}
.employee-registration-form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.3rem;
    background-color: var(--color-background);
    padding: 10px 16px;
}

.employee-registratiion-form-control{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 1.2rem;
}
.employee-registratiion-form-control > input,select{
    border: 1px solid gray;
    padding: 10px 16px;
    border-radius: var(--border-radius-1);
    background-color: transparent;
}
.employee-registratiion-form-control select{
    text-transform: capitalize;
}
.employee-registration-form-action{
    display: flex;
    flex-direction: row-reverse;
    gap: 18px;
}

.employee-registration-form-action > button{
    padding: 10px 20px;
    border-radius: 0.23rem;
    border: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.employee-registration-form-action > button:hover{
    transform: scale(1.05);
}
.employee-registration-form-action .primary{
    background-color: rgb(103, 129, 255);
    color: #fff;
}