.aside{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
    flex: 1.5;
    width: 100%;
    /* max-width: 300px; */
    min-height: 100%;
    position: sticky; 
    margin-bottom: 20px;
    padding: 0 var(--card-padding);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    overflow: scroll;
}
.aside:hover{
    box-shadow: none;
}
.aside .close{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    padding-left: 20px;
    cursor: pointer;
}
.aside .item{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    color: var(--color-dark);
    border-radius: var(--border-radius-1);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
.aside .item:hover{
    background-color: hsl(243deg 50% 21%);
    color:white;
}
.aside .active{
    background-color: hsl(243deg 50% 21%);
    color:white;
}

