.dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6,150px);
    row-gap: 10px;
    column-gap: 10px;
}
.dashboard-summary{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    column-gap: 10px;
}
.dashboard-card-summary{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
}
.dashboard-graph-summary{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: var(--box-shadow);
    background-color: var(--color-background);
    
   
}
/* .dashboard-table-pie{
    display: flex;
    flex: 1;
    gap: 20px;
} */
.dashboard-table{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    border-radius: var(--border-radius-1);
    padding: 20px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-background);
}
.dashboard-pie{
    display: flex;
    flex-direction: column;
    gap:10px;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
}

